.cardGrid{
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

