.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem 2rem;
}
li{
    list-style:none;
    text-decoration: none;
}
ul{
    display:flex;
    gap:2rem;
    padding:0;
    margin:0;
    >a{
        text-decoration:none;
        color:#fff;
        font-weight:bold;
        font-size:1.2rem;
        &:hover{
            color:#ffcc0a;
    }
}
}
