.card{
    width: 100%;
    height: auto;
    border-radius: 0.5rem;

    cursor: pointer;
}
.card img{
    width: 100%;
    height: auto;
    border-radius: 4px;    
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}